<li>
    <%%= link_to "<%= singular_model_name.gsub('_', ' ') %> Option 1", "#", class: "font-medium text-sm text-slate-600 hover:text-slate-800 flex py-1 px-3", "@click" => "open = false", "@focus" => "open = true", "@focusout" => "open = false" %>
</li>
<li>
    <%%= link_to "<%= singular_model_name.gsub('_', ' ') %> Option 2", "#", class: "font-medium text-sm text-slate-600 hover:text-slate-800 flex py-1 px-3", "@click" => "open = false", "@focus" => "open = true", "@focusout" => "open = false" %>
</li>