<div class="flex h-screen overflow-hidden">
    <%= render "sidebar" %>
    <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">
        <%= render "header" %>
        <main>
            <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">
                    <!-- Components -->
                <%= form_with model: [ :staff, @staff_comment ] do |f| %>
                <h2 class="text-2xl text-slate-800 font-bold mb-6">신규 데이터 입력</h2>
                <div class="grid gap-5 md:grid-cols-2 p-6">
                    <div class="bg-white p-5 shadow-lg rounded-sm border border-slate-200">
                        <div class="text-slate-800 font-semibold mb-2">staff comments Form ✨</div>
                        <!-- Promo box -->
                            <%= render "new_form", f: f %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </main>
    </div>
</div>